main{
  padding: 30px;
}
header{
  padding:10px 30px;
}

.flow-navi {
  position: fixed;
  top: 250px;
  right: 5px;
  & li{
    list-style: none;
    font-size: 2rem;
    margin: 15px 0;
  }
  & .fab{
    color: #7e7474;
  }
}
