@import '../modules/mixin';

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family:"Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
  font-size: 1.6rem;
  /*IE9以前に対応する*/
  font-size: 0.625rem;
  line-height: 1.5;
  letter-spacing: 2px;
  color:rgb(26, 25, 25);
  background-color:#f9f9f9;
  display: block;
}

main{
  padding: 10px;
}
header{
  padding: 10px;
}

img {
  width: 100%;
}

// .font-sm{
//   font-size: 14px;
// }
// .font-md{
//   font-size: 17px;
// }
// .font-lr{
//   font-size: 17px;
// }
// .font-lg{
//   font-size: 25px;
// }
// .mb-sm{
//   margin-bottom: 16px !important;
// }
// .mb-lg {
//   margin-bottom: 80px !important;
// }
// .pb-sm {
//   padding-bottom: 16px !important;
// }
// .pb-lg {
//   padding-bottom: 80px !important;
// }

.header_all{
  display: flex;

  justify-content: center;
  margin: 20px auto 10px;

  & h1{
    font-size: 2.5rem;
    animation: bounce;
    animation-duration: 2s;
  }
}

.user_button_list{
  text-align: center;
  padding: 300px 0 40px 0;
  background-image: url(../images/408230_l.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border-bottom-right-radius:100px;

  & button{
    margin: 6px 2px;
    padding: 5px 2px;
    border-radius: 5px;
    background-color: #646464;
    transform: translate(-1px,-1px);
    box-shadow:2px 2px 0px #333;

    &:focus{
      outline: 0;
    }
    &:active{
      transform: translate(1px,1px);
      box-shadow:0px 0px 0px #333;
    }
    &:hover{
      background-color: #dbdbdb;
    }
    & a{
      margin: 2px;
      font-size: 1.3rem;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      color: #dbdbdb;
      cursor: pointer;

      &:hover{
        color: #646464;
      }
    }
}
& #guest_button{
  background-color: #dbdbdb;

  &:hover{
    background-color: #646464;
  }
  & a{
    color: #646464;

    &:hover{
      color: #f9f9f9;
    }
  }
}
}


#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;

  & a{
    width: 50px;
    height: 50px;
    text-decoration: none;

    &::before{
      font-family: 'Font Awesome 5 Free';
      font-weight: 700;
      content: '\f139';
      font-size: 4rem;
      color: #333;
    }
  }
}



#about_box{
  text-align: center;
  margin: 90px auto 50px;
  padding: 5px;
  width: 80%;
  letter-spacing: 0.5em;


  & h2{
    display: inline-block;
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: #333 solid 1px;
  }
  & .about_sub{
    text-align: center;
    line-height: 1.5;
    margin: 5px auto 50px ;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }
  & #pf_message{
    text-align: center;
    margin: 10px auto 10px ;
    letter-spacing: 2px;

    .letter {
      display: inline-block;
      line-height: 1rem;
    }

  }
}


.carousel{
  display: none;
}

.feature＿description {
  color: #f9f9f9;
  font-size: 2rem;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
  text-align: center;

  & .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  & .function{
    color: #333;
    flex-direction:row;
    justify-content: space-between;
    // padding: 20px;
  }
  & .function_one_content{
    background-color: #f3f1e7;
    margin:40px auto ;
    padding: 10px;
    border-radius: 20px;

    & h2{
      margin-top: 15px;
      letter-spacing: 2px;
      font-size:1.5rem;

      & .title{
        border-bottom: 3px solid #d8d3cd;
      }
    }
    & .function-image {
      border-radius: 15%;
      width: 100%;
      padding: 4%;
    }
  }
  &    .three{
    margin-bottom: 0;
  }

  & .function_two_content{

    background-color: #f3f1e7;
    margin: 40px auto ;
    padding: 10px;
    border-radius: 20px;


    & h2{
      margin-top: 15px;
      letter-spacing: 2px;
      font-size:1.5rem;

      & .title{
        border-bottom: 3px solid #d8d3cd;
      }
    }
    & .function-image {
      border-radius: 15%;
      width: 100%;
      padding: 4%;
    }
  }
}

footer{
  margin-top: 10px;
  padding: 5px 20px;
  text-align: center;
  background-color: #d8d3cd;
  color: #333;

  & ul{
    display: flex;
    justify-content: center;
    padding: 5px 30px;


& li{
  list-style: none;

  & a{
    margin: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: #333;

    & .fab{
      padding: 0 10px;
      font-size: 1.5rem;
    }
  }
}
  }
& small {
  font-size: 0.8rem;
}
}

.pace-done #page_js{
  transition: opacity 2s;
  opacity: 1;
}

.pace-running #page_js{
  opacity: 0;
}
.pace {
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;

}

.pace .pace-progress {
  transform: none !important;
  text-align: center;
}

.pace .pace-progress::after {
  content: attr(data-progress-text);
  display: block;
  font-weight: 100;
 font-size: 2em;
 margin-bottom: 30px;
 font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
 color: #535353;
}



.pace.pace-inactive {
  display: none;
}

.pace-progress-inner{
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 0 auto;
  @include animation(
    $name: sk-rotateplane,
    $duration: 1.2s,
    $iteration-count: infinite,
    $timing-function: ease-in-out
  );
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
